
@media only screen and (max-width: 800px) {
    .steps {
      width: calc(100% - 60px);
    }
  }

.steps h3 {
    text-align: left;
    margin-bottom: 5px;
}

.steps ol {
    margin-top: 0;
}

.steps li {
    text-align: left;
}

.steps li:hover {
    cursor: pointer;
    background-color: #ccc;
}